.content1 {
	min-height: 60vh;
	padding: 150px 15%;
}

.content2 {
	padding: 90px 15%;
	min-height: 75vh;
}

.content3 {
	padding: 30px 12%;
	display: flex;
	justify-content: center;
	overflow: hidden;
}



.content5 {
  padding: 20px 12%;
 min-height: 100vh;
}

.content6 {
  padding: 10px 12%;
   margin-bottom: 70px;
   min-height: 100vh;
}

.content7 {
  padding: 50px 12%;
 margin-bottom: 70px;
 min-height: 100vh;
}


 .content9 h2 {
	font-size: 42px;
	font-weight:bold;
}

.content9 h3 {
	position: relative;
}

.content9 h3::after {
  content: '';
  width: 35px;
  height: 4px;
  background-color: white;
  position: absolute;
  left: -40px;
  top: 40%;
  border-radius: 20px;
}

/*.content15 p {
	position: relative;
}

.content15 p::after {
  content: '';
  width: 35px;
  height: 4px;
  background-color: white;
  position: absolute;
  left: -40px;
  top: 40%;
  border-radius: 20px;
}*/

.down {
	 min-height: 80vh; 
	 display: grid; 
	 place-content:center; 
	 display: flex;
  justify-content: center;
  align-items: center; 
  padding: 50px 6%; 
  text-align: center; 
  color: white;
  position: relative;
  transition-duration: all 600ms ease;
  z-index: 1;
  background: transparent;
}


	
.content9 {
	min-height: 100vh;
}


.career {
	background-color: #646BB0;
	padding: 100px 5% 50px 8%;
	margin-top: 150px;
	margin-bottom: 150px;
	color: white;
	min-height: 60vh
}
@media screen and (max-width: 989px) {
	.head {
		display: none;
	}

	.content1 {
	min-height: 60vh;
	padding: 100px 6%;
}

.content2 {
	padding: 30px 6%;
	min-height: 75vh;
}

.content3 {
	padding: 30px 6%;
	display: flex;
	justify-content: center;
	overflow: hidden;
}



.content5 {
  padding: 20px 6%;
 min-height: 100vh;
}

.content6 {
  padding: 10px 6%;
   margin-bottom: 70px;
   min-height: 100vh;
}

.content7 {
  padding: 30px 6%;
 margin-bottom: 70px;
 min-height: 100vh;
}

.content9 {
	min-height: 40vh;
}

 .content9 h2 {
	font-size: 30px;
	font-weight:bold;
}
	.career {
		width: 100vw;
		margin-bottom: 0;
}

}