.content1 {
	min-height: 60vh;
	padding: 150px 15%;
}

.content2 {
	padding: 90px 15%;
	min-height: 75vh;
}

.content3 {
	padding: 30px 12%;
	display: flex;
	justify-content: center;
	overflow: hidden;
}



.content5 {
  padding: 20px 12%;
 min-height: 100vh;
}

.content6 {
  padding: 10px 12%;
   margin-bottom: 70px;
   min-height: 100vh;
}

.content7 {
  padding: 50px 12%;
 margin-bottom: 70px;
 min-height: 100vh;
}



@media screen and (max-width: 989px) {
	.head {
		display: none;
	}

	.content1 {
	min-height: 60vh;
	padding: 100px 6%;
}

.content2 {
	padding: 30px 6%;
	min-height: 75vh;
}

.content3 {
	padding: 30px 6%;
	display: flex;
	justify-content: center;
	overflow: hidden;
}



.content5 {
  padding: 20px 6%;
 min-height: 100vh;
}

.content6 {
  padding: 10px 6%;
   margin-bottom: 70px;
   min-height: 100vh;
}

.content7 {
  padding: 30px 6%;
 margin-bottom: 70px;
 min-height: 100vh;
}
}