
body {
	font-family: 'Oxygen', sans-serif;
}

/*WEB NAVBAR*/
.navbar-custom2 {
	background-color: white;
	padding: 10px 15px;
	position: sticky;
	top: 0;
	z-index: 2;
}

.mobile{
	display: flex;
}
.navbar-custom2 li a {
	color: #0D131D;
	font-size: 18px;
}
/*
.navbar-custom2 .navbar-nav {
	padding-bottom: 30%;
}*/

.bott {
	height: 30%;
	background-color: #ccc;
	/*position: fixed;*/
	top: 70%;
	left: 0;
	z-index: 10;
	width: 100vw;
}

.navbar-custom2 ul {
	/*padding: 0 px; */
	/*overflow-y: auto;*/
	overflow: scroll;
}

.navbar-custom2 .navbar-nav {
	min-height: 100vh;
}

.navbar-custom2 .navbar-nav .open > a ,
.navbar-custom2 .navbar-nav .open > a:focus ,
.navbar-custom2 .navbar-nav .open > a:hover , {
	color:  #D52B1E;
	padding-bottom: 4px;
	font-weight: bold;


}

.navbar-custom2 .navbar-nav > li > a:focus, 
.navbar-custom2 .navbar-nav > li > a:hover {
	color:  #D52B1E;
	padding-bottom: 4px;
	font-weight: bold;
}

.navbar-custom2 ul li {
	text-align: center;
	padding: 0 15px; 
	overflow-y: auto;
}

.navbar-nav .dropdown-menu {
	border: none;
	text-align: center;
	margin: 10px 0;
}

.navbar-nav .dropdown-menu li a {
	text-decoration: none;
	font-weight: bold;
} 

.bott {
	height: 30%;
	background-color: #ccc;
	position: absolute;
	top: 70%;
	left: 0;
}

.last ul {
	display: flex;
	justify-content: center;
}
.last ul li {
	list-style-type: none;
	display: inline block;
	margin: 20px auto;
}

.last ul li a {
	text-decoration: none;
	color: #0D131D;
	font-size: 16px;
}


.content1 p {
	font-size: 12px;
	letter-spacing: 2px;
}

.content2 p {
	font-size: 32px;
}

.content22 p {
	font-size: 18px;
}

.content22 span a {
	text-decoration: none;
	color: #D52B1E;
} 
.navbar-custom {
	background-color: white;
	padding: 20px 40px;
	position: sticky;
	top: 0;
	z-index: 2;
}


.navbar-custom li a {
	color: #0D131D;
	font-size: 16px;
	margin: 0 8px;
}


.navbar-custom .nav2 li a  {
	color: #D52B1E;
	margin: 0 10px;
}

.navbar-custom .nav2  {
	color: #D52B1E;
	position: absolute;
	right: 40px;
}


.navv2 li a  {
	color: #D52B1E;
	margin: 0 10px;
}
 .navv2  {
	color: #D52B1E;
	float: right;
}

.navbar-custom ul li a:hover {
	border-bottom: 2px solid #D52B1E;
	padding-bottom: 5px;
	color: #0D131D;

}

.option {
	height: 100vh;
}


.row div h6 {
	color: #D52B1E;
	font-size: 13px;
}
.content1 {
	padding: 150px 10%;
	min-height: 60vh;
	color: #0D131D;
}

.content1 h1 {
	font-weight: bolder;
	font-size: 45px;
}


.content2 {
	padding: 100px 18%;
}

.content8 h1 {
	font-weight: bolder;
	font-size: 45px;
}

.content22 {
	padding: 100px 18%;
}

.content8 p {
	font-size: 22px;
}

.row div h2 {
	font-weight: bolder;
	font-size: 40px;
}

.content11 .row div {
	padding: 50px 50px;
	background-color: #0D131D ;
	color: white;
	transition: background-color 1s;
	border: 0 1px solid rgba(42,42,42,0.5);
}


.content11 .row div:hover {

	background-color: #0C0F15 ;
}

.content12 {
	text-align: center;
	padding: 50px 30px;
	background-color: #0C0F15 ;
	color: white;
	font-size: 13px;
}

.content12 p {
	padding: 0 6%;
}

.content12 h6 {
	color: red;
}

.content12 ul li {
	display: inline-block;
}

.content12 ul li a {
	text-decoration: none;
	color: white;
	text-align: center;
	margin: 5px;
	font-size: 14px;
}

.content12 ul li a:hover {
	color: yellow;
}
.content5 {
	padding: 100px 8% 100px 18%;
	min-height: 80vh;
}

.content5 p, .content7 p, .content4 p {
	font-size: 22px;
}

.content7 {
	padding: 100px 8%;

}

.content5 img {
	width: 90%;
	padding-bottom: 20px;
}

.sub {
	background-color: #646BB0;
	padding: 120px 8%;
	min-height: 65vh;
		color: white;
}

.content4 {
	padding: 100px 8% ;
}
.content4 .row div , .content4 .row div, .content7 .row div {
	margin: auto;
}

.offcanvas-body .row div {
	
	border: 0 1px solid rgba(42,42,42,0.5);
}

.offcanvas-body .row div img{
	width: 80%;
}

.offcanvas-body .row div ul li a{
	padding: 20px;
	text-decoration: none;
	font-size: 18px;
	color: #0D131D;
	font-weight: bold;
	transition: padding 800ms ease-in;
}

.offcanvas-body .row div ul li a:hover{
	padding-left: 40px;
	color: #D52B1E;
}
.option button {
	margin-right: 30px;
}


/*SCROLL EFFECT*/

.reveal {
	position: relative;
	transform: translateY(50px);
	opacity: 0;
	transition: all 1s ease-in-out;
}

.reveal.active {
	transform: translateY(0px);
	opacity: 1;
}




@media screen and (max-width: 989px) {
	

	.content1 p {
		display: none;
	}

	.content2, .content4, .content5, .content22{
		padding: 40px 5%;
	}

	.content2 p{
		font-size: 20px;
	}

	.content5 p, .content7 p, .content4 p, .content8 p {
	font-size: 18px;
}	

.content8 h1 {
	font-weight: bold;
	font-size: 32px;
}	
	
.row div h2 {
	font-weight: bold;
	font-size: 32px;
}

#web-nav {
	display: none;
}

.dropdown .dropdown-menu li {
	border: none;
	overflow: scroll;
}


}

